# UID of bittensor subnet, eg. 12
PYLON_BITTENSOR_NETUID=12
# Bittensor network, eg. finney or ws://127.0.0.1:9944
PYLON_BITTENSOR_NETWORK=finney
# Directory in which the wallet is located (if using docker, it must point to the directory inside the container).
PYLON_BITTENSOR_WALLET_PATH=~/.bittensor/wallets
# Name of your wallet located inside BITTENSOR_WALLET_PATH.
PYLON_BITTENSOR_WALLET_NAME=test-wallet
# Name of the wallet hotkey
PYLON_BITTENSOR_WALLET_HOTKEY_NAME=test-hotkey

# Sentry Configuration
# DSN address for pylon to use - leave empty to disable sentry integration.
PYLON_SENTRY_DSN=
# Sentry environment to use.
PYLON_SENTRY_ENVIRONMENT=development
